<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>订单号：</label>
                                <input type="text" name="orderNo"/>
                            </li>
                            <li>
                                <label>用户ID：</label>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <label>订单总金额：</label>
                                <input type="text" name="totalAmount"/>
                            </li>
                            <li>
                                <label>实付金额：</label>
                                <input type="text" name="payAmount"/>
                            </li>
                            <li>
                                <label>收货人姓名：</label>
                                <input type="text" name="receiverName"/>
                            </li>
                            <li>
                                <label>收货人电话：</label>
                                <input type="text" name="receiverPhone"/>
                            </li>
                            <li>
                                <label>物流单号：</label>
                                <input type="text" name="expressNo"/>
                            </li>
                            <li>
                                <label>订单状态：</label>
                                <select name="status">
                                    <option value="">全部</option>
                                    <option value="0">待支付</option>
                                    <option value="1">待发货</option>
                                    <option value="2">已发货</option>
                                    <option value="3">已完成</option>
                                    <option value="4">已取消</option>
                                </select>
                            </li>
                            <li>
                                <label>支付时间：</label>
                                <input type="text" class="time-input" placeholder="请选择支付时间" name="payTime"/>
                            </li>
                            <li>
                                <label>发货时间：</label>
                                <input type="text" class="time-input" placeholder="请选择发货时间" name="shipTime"/>
                            </li>
                            <li>
                                <label>完成时间：</label>
                                <input type="text" class="time-input" placeholder="请选择完成时间" name="finishTime"/>
                            </li>
                            <li>
                                <label>取消时间：</label>
                                <input type="text" class="time-input" placeholder="请选择取消时间" name="cancelTime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="coffee:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="coffee:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="coffee:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="coffee:order:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('coffee:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('coffee:order:remove')}]];
        var shipFlag = [[${@permission.hasPermi('coffee:order:edit')}]];
        var prefix = ctx + "coffee/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'orderId',
                    title: '订单ID',
                    visible: false
                },
                {
                    field: 'orderNo',
                    title: '订单号',
                    width: 190
                },
                {
                    field: 'productSummary',
                    title: '商品信息',
                    width: 240,
                    formatter: function(value) {
                        return "<div style='white-space: normal; line-height: 1.6;'>" + $.common.nullToStr(value) + "</div>";
                    }
                },
                {
                    field: 'userId',
                    title: '用户ID',
                    width: 90
                },
                {
                    field: 'totalAmount',
                    title: '订单总金额',
                    width: 110
                },
                {
                    field: 'payAmount',
                    title: '实付金额',
                    width: 100
                },
                {
                    field: 'receiverName',
                    title: '收货人姓名',
                    width: 120
                },
                {
                    field: 'receiverPhone',
                    title: '收货人电话',
                    width: 140
                },
                {
                    field: 'receiverAddress',
                    title: '收货地址',
                    width: 230,
                    formatter: function(value) {
                        return $.common.nullToStr(value);
                    }
                },
                {
                    field: 'status',
                    title: '订单状态',
                    width: 110,
                    align: 'center',
                    formatter: function(value) {
                        var statusMap = {
                            0: '<span class="badge badge-warning">待支付</span>',
                            1: '<span class="badge badge-primary">待发货</span>',
                            2: '<span class="badge badge-info">已发货</span>',
                            3: '<span class="badge badge-success">已完成</span>',
                            4: '<span class="badge badge-default">已取消</span>'
                        };
                        return statusMap[value] || '未知';
                    }
                },
                {
                    field: 'expressNo',
                    title: '物流单号',
                    width: 130
                },
                {
                    field: 'discountAmount',
                    title: '优惠金额',
                    width: 95
                },
                {
                    field: 'freightAmount',
                    title: '运费金额',
                    width: 95
                },
                {
                    field: 'activitySummary',
                    title: '活动摘要',
                    width: 180,
                    formatter: function(value) {
                        return $.common.nullToStr(value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    width: 220,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push("<div style='white-space: nowrap;'>");
                        actions.push("<a class='btn btn-success btn-xs " + editFlag + "' href='javascript:void(0)' onclick=\"$.operate.edit('" + row.orderId + "')\"><i class='fa fa-edit'></i>编辑</a> ");
                        if (row.status == 1) {
                            actions.push("<a class='btn btn-primary btn-xs " + shipFlag + "' href='javascript:void(0)' onclick=\"shipOrder('" + row.orderId + "')\"><i class='fa fa-truck'></i>发货</a> ");
                        }
                        actions.push("<a class='btn btn-danger btn-xs " + removeFlag + "' href='javascript:void(0)' onclick=\"$.operate.remove('" + row.orderId + "')\"><i class='fa fa-remove'></i>删除</a>");
                        actions.push("</div>");
                        return actions.join('');
                    }
                },
                {
                    field: 'payTime',
                    title: '支付时间',
                    width: 120,
                    visible: false
                },
                {
                    field: 'shipTime',
                    title: '发货时间',
                    width: 120,
                    visible: false
                },
                {
                    field: 'finishTime',
                    title: '完成时间',
                    width: 120,
                    visible: false
                },
                {
                    field: 'cancelTime',
                    title: '取消时间',
                    width: 120,
                    visible: false
                },
                {
                    field: 'remark',
                    title: '备注',
                    width: 180,
                    visible: false,
                    formatter: function(value) {
                        return $.common.nullToStr(value);
                    }
                }]
            };
            $.table.init(options);
        });

        function shipOrder(orderId) {
            $.modal.open("订单发货", prefix + "/ship/" + orderId, '820', '720');
        }
    </script>
</body>
</html>
