<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.coffee.scanOrder.mapper.ScanOrderMapper">

    <resultMap type="ScanOrder" id="ScanOrderResult">
        <result property="orderId"         column="order_id"         />
        <result property="orderNo"         column="order_no"         />
        <result property="userId"          column="user_id"          />
        <result property="openid"          column="openid"           />
        <result property="shopId"          column="shop_id"          />
        <result property="shopName"        column="shop_name"        />
        <result property="tableNo"         column="table_no"         />
        <result property="scene"           column="scene"            />
        <result property="totalAmount"     column="total_amount"     />
        <result property="payAmount"       column="pay_amount"       />
        <result property="discountAmount"  column="discount_amount"  />
        <result property="memberDiscount"  column="member_discount"  />
        <result property="activitySummary" column="activity_summary" />
        <result property="status"          column="status"           />
        <result property="pickupNo"        column="pickup_no"        />
        <result property="estimatedWaitMinutes" column="estimated_wait_minutes" />
        <result property="payType"         column="pay_type"         />
        <result property="payTime"         column="pay_time"         />
        <result property="acceptTime"      column="accept_time"      />
        <result property="makingTime"      column="making_time"      />
        <result property="callTime"        column="call_time"        />
        <result property="finishTime"      column="finish_time"      />
        <result property="cancelTime"      column="cancel_time"      />
        <result property="urgeCount"       column="urge_count"       />
        <result property="lastUrgeTime"    column="last_urge_time"   />
        <result property="remark"          column="remark"           />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
    </resultMap>

    <sql id="selectScanOrderVo">
        select order_id, order_no, user_id, openid, shop_id, shop_name, table_no, scene,
               total_amount, pay_amount, discount_amount, member_discount, activity_summary,
               status, pickup_no, estimated_wait_minutes, pay_type, pay_time,
               accept_time, making_time, call_time, finish_time, cancel_time,
               urge_count, last_urge_time,
               remark, create_by, create_time, update_by, update_time
        from t_scan_order
    </sql>

    <select id="selectScanOrderById" parameterType="Long" resultMap="ScanOrderResult">
        <include refid="selectScanOrderVo"/>
        where order_id = #{orderId}
    </select>

    <select id="selectScanOrderByOrderNo" parameterType="String" resultMap="ScanOrderResult">
        <include refid="selectScanOrderVo"/>
        where order_no = #{orderNo}
    </select>

    <select id="selectScanOrderList" parameterType="ScanOrder" resultMap="ScanOrderResult">
        <include refid="selectScanOrderVo"/>
        <where>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="shopId != null"> and shop_id = #{shopId}</if>
            <if test="tableNo != null and tableNo != ''"> and table_no = #{tableNo}</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
        order by
        case when status in (2, 3) then 0 when status = 0 then 1 else 2 end,
        case when last_urge_time is null then 1 else 0 end,
        last_urge_time desc,
        case when pay_time is null then 1 else 0 end,
        pay_time desc,
        create_time desc,
        order_id desc
    </select>

    <select id="selectMaxPickupNoToday" resultType="Integer">
        select max(cast(pickup_no as unsigned))
        from t_scan_order
        where pickup_no is not null
          and pickup_no regexp '^[0-9]+$'
          and date(pay_time) = curdate()
          <if test="shopId != null">and shop_id = #{shopId}</if>
    </select>

    <select id="countUnfinishedPaidOrders" resultType="Integer">
        select count(1)
        from t_scan_order
        where status in (2, 3)
          <if test="shopId != null">and shop_id = #{shopId}</if>
    </select>

    <insert id="insertScanOrder" parameterType="ScanOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_scan_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_no, user_id,
            <if test="openid != null and openid != ''">openid,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="shopName != null">shop_name,</if>
            <if test="tableNo != null and tableNo != ''">table_no,</if>
            <if test="scene != null and scene != ''">scene,</if>
            total_amount, pay_amount,
            <if test="discountAmount != null">discount_amount,</if>
            <if test="memberDiscount != null">member_discount,</if>
            <if test="activitySummary != null">activity_summary,</if>
            status,
            <if test="pickupNo != null and pickupNo != ''">pickup_no,</if>
            <if test="estimatedWaitMinutes != null">estimated_wait_minutes,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="acceptTime != null">accept_time,</if>
            <if test="makingTime != null">making_time,</if>
            <if test="callTime != null">call_time,</if>
            <if test="finishTime != null">finish_time,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="urgeCount != null">urge_count,</if>
            <if test="lastUrgeTime != null">last_urge_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{orderNo}, #{userId},
            <if test="openid != null and openid != ''">#{openid},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="shopName != null">#{shopName},</if>
            <if test="tableNo != null and tableNo != ''">#{tableNo},</if>
            <if test="scene != null and scene != ''">#{scene},</if>
            #{totalAmount}, #{payAmount},
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="memberDiscount != null">#{memberDiscount},</if>
            <if test="activitySummary != null">#{activitySummary},</if>
            #{status},
            <if test="pickupNo != null and pickupNo != ''">#{pickupNo},</if>
            <if test="estimatedWaitMinutes != null">#{estimatedWaitMinutes},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="acceptTime != null">#{acceptTime},</if>
            <if test="makingTime != null">#{makingTime},</if>
            <if test="callTime != null">#{callTime},</if>
            <if test="finishTime != null">#{finishTime},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="urgeCount != null">#{urgeCount},</if>
            <if test="lastUrgeTime != null">#{lastUrgeTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateScanOrderStatus">
        update t_scan_order
        <set>
            status = #{newStatus},
            update_time = now(),
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="makingTime != null">making_time = #{makingTime},</if>
            <if test="callTime != null">call_time = #{callTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="pickupNo != null and pickupNo != ''">pickup_no = #{pickupNo},</if>
            <if test="estimatedWaitMinutes != null">estimated_wait_minutes = #{estimatedWaitMinutes},</if>
            <if test="payType != null and payType != ''">pay_type = #{payType},</if>
        </set>
        where order_id = #{orderId}
          and status = #{oldStatus}
    </update>

    <update id="markUrged">
        update t_scan_order
        set urge_count = ifnull(urge_count, 0) + 1,
            last_urge_time = #{lastUrgeTime},
            update_time = now()
        where order_id = #{orderId}
          and status in (2, 3)
    </update>

</mapper>
