<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.coffee.address.mapper.TAddressMapper">
    
    <resultMap type="TAddress" id="TAddressResult">
        <result property="addressId"    column="address_id"    />
        <result property="userId"    column="user_id"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="receiverPhone"    column="receiver_phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="detailAddress"    column="detail_address"    />
        <result property="isDefault"    column="is_default"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTAddressVo">
        select address_id, user_id, receiver_name, receiver_phone, province, city, district, detail_address, is_default, create_time, update_time from t_address
    </sql>

    <select id="selectTAddressList" parameterType="TAddress" resultMap="TAddressResult">
        <include refid="selectTAddressVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="receiverName != null  and receiverName != ''"> and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="receiverPhone != null  and receiverPhone != ''"> and receiver_phone = #{receiverPhone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="detailAddress != null  and detailAddress != ''"> and detail_address = #{detailAddress}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
        </where>
        order by
        case when create_time is null then 1 else 0 end,
        create_time desc,
        address_id desc
    </select>
    
    <select id="selectTAddressByAddressId" parameterType="Long" resultMap="TAddressResult">
        <include refid="selectTAddressVo"/>
        where address_id = #{addressId}
    </select>
        
    <insert id="insertTAddress" parameterType="TAddress" useGeneratedKeys="true" keyProperty="addressId">
        insert into t_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="receiverName != null and receiverName != ''">receiver_name,</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="receiverName != null and receiverName != ''">#{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">#{receiverPhone},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="district != null">#{district},</if>
            <if test="detailAddress != null and detailAddress != ''">#{detailAddress},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTAddress" parameterType="TAddress">
        update t_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="receiverName != null and receiverName != ''">receiver_name = #{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone = #{receiverPhone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address = #{detailAddress},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where address_id = #{addressId}
    </update>

    <delete id="deleteTAddressByAddressId" parameterType="Long">
        delete from t_address where address_id = #{addressId}
    </delete>

    <delete id="deleteTAddressByAddressIds" parameterType="String">
        delete from t_address where address_id in 
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>

</mapper>
